.reset-password{

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #f1f2f3;
    align-self: center;
}

.reset-main-box{

    width: 35vw;
    height: 40vh;
    background-color: white;
    margin-top: 14%;
    border-radius: 20px;
}


.reset-form form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
}


.reset-form form label{
    align-self: start;
    margin-left: 90px;
}

.form-text{
    height: 35px;
    width: 25vw;
    border-radius: 5px;
}

.forgot-btn{
    padding: 10px 5px;
    background-color: #009dff;
    border: solid 1px #009dff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 13px;
    font-weight: 500;
    width: 10vw;
}